* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Frank Ruhl Libre", serif;
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 50px;
}
